<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Nico Minoru</h1>
        <img src="{{ url_for('static', filename='Nico.jpg') }}" alt="Description of the image" class="center_image">
        <p>Hi, just a quick introdution to the character, shes a magician that can use her staff to
            use any spell exactly one time. Shes a member of the runaways and current is studying new types of magic, while working as a teacher and dating Karolina Dean.
        </p>
    </div>
</body>

</html>

